body {
    background-image: url('./image/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

.girl {
    background-image: url('./image/girl.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 158px;
    height: 179px;
    top: 50%;
    z-index: 1;
    position: absolute;
    animation: move 15s infinite;
    animation-timing-function: ease-in-out;

}

@keyframes move {
    0% {
        left: -100%;
        transform: scaleX(-1);
    }

    49.99% {
        left: 105%;
        transform: scaleX(-1);
    }

    50% {
        left: 105%;
        transform: scaleX(1);
    }

    100% {
        left: -100%;
        transform: scaleX(1);
    }
}

.tree {
    background-image: url('./image/trees.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

.login {
    position: absolute;
    z-index: 3;
    width: 25%;
    height: 50%;
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%);
    color: #701313;
    font-size: medium;
}

input {
    padding-left: 10px;
    height: 12%;
    width: 90%;

    border-radius: 5px;
    margin-bottom: 9%;
    border-color: transparent;
    font-size: medium;
}

input::placeholder {
    color: #701313
}

button {
    background-color: #701313;
    color: #fff;
    height: 12%;
    width: 90%;
    border-radius: 3px;
    border-color: transparent;
    margin-bottom: 9%;
    font-size: medium;
}

.forget {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.leaf1 {
    background-image: url('./image/leaf_02.png');
    top: -100px;
    left: 50%;
    animation: fall 10s linear infinite, sway 3s ease-in-out infinite;

}

.leaf2 {
    background-image: url('./image/leaf_01.png');
    top: -100px;
    left: 25%;
    animation: fall 15s linear infinite, sway 6s ease-in-out infinite;

}


.leaf3 {
    background-image: url('./image/leaf_03.png');
    top: -100px;
    left: 15%;
    animation: fall 25s linear infinite, sway 9s ease-in-out infinite;

}

.leaf4 {
    background-image: url('./image/leaf_04.png');
    top: -100px;
    left: 70%;
    animation: fall 20s linear infinite, sway 7s ease-in-out infinite;

}

.leaf {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 5%;
    height: 5%;
    z-index: 5;
    position: absolute;
    transform: translateX(-50%) rotate(0deg);
}



@keyframes fall {
    0% {
        top: -100px;
    }

    100% {
        top: 100vh;

    }
}

@keyframes sway {

    0%,
    100% {
        transform: translateX(-50%) rotate(0deg);

    }

    50% {
        transform: translateX(calc(-50% + 20px)) rotate(10deg);

    }

    75% {
        transform: translateX(calc(-50% - 15px)) rotate(-10deg);

    }
}

a {
    color: #701313;
}